.DS_Store
node_modules
**/node_modules/**/*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.history/*
yarn.lock
package-lock.json

other/data/fundData/*
other/aafilter/data_all/*
other/aafilter/data_search/*
huawei-function/search/fundData/*
api/data/preview/*.json
api/data/his_val/*.*

amain/dist
ahoutai/dist
