<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Apache ECharts Custom Series Test</title>
</head>

<body>
  <div id="main" style="width: 1000px; height: 400px; border: 1px solid #ccc"></div>

  <script src="/node_modules/echarts/dist/echarts.js"></script>
  <script src="/custom-series/barRange/examples/index.auto.js"></script>
  <script>
    echarts.use(window.barRangeCustomSeriesInstaller);
    const chart = echarts.init(document.getElementById('main'));

    // const data = [
    //   [0, 26.7, 32.5],
    //   [1, 25.3, 32.4],
    //   [2, 24.6, 32.7],
    //   [3, 26.8, 35.8],
    //   [4, 26.2, 33.1],
    //   [5, 24.9, 31.4],
    //   [6, 25.3, 32.9],
    // ];

    const data = new Array(200).fill(0).map((_, i) => {
      const num_1 = Math.ceil(Math.random() * 10) + 1;
      const num_2 = Math.ceil(Math.random() * 6) + num_1 + 10;
      return [
        i,
        num_1, // Start value
        num_2, // End value
      ]
    });

    const num_bar = 50;// 显示柱子的数量
    const zoomStart = Math.max(0, 1 - (Math.min(data.length, num_bar)) / data.length) * 100;
    console.log('zoomStart', zoomStart);

    option = {
      xAxis: {
        data: new Array(data.length).fill(0).map((_, i) => i),
        type: 'category',
      },
      yAxis: {
        type: 'value',
      },
      tooltip: {
        show: true,
      },
      dataZoom: [
        {
          type: 'inside',
          xAxisIndex: [0, 1],
          start: zoomStart,
          end: 100,
          zoomLock: true,  // 禁止缩放
          filterMode: 'filter'  // 可选：平移时动态过滤数据
        },
        {
          show: true,
          xAxisIndex: [0, 1],
          type: 'slider',
          top: '85%',
          start: zoomStart,
          end: 100,
          zoomLock: true,  // 禁止缩放
          brushSelect: false  // 禁用框选（避免误触缩放）
        }
      ],
      series: {
        type: 'custom',
        renderItem: 'barRange',
        data,
        itemPayload: {
          barWidth: 6,
          borderRadius: 6,
        },
        encode: {
          x: 0,
          y: [1, 2],
          tooltip: [1, 2],
        },
      },
    };

    chart.setOption(option);
  </script>
</body>

</html>