*{margin:0;padding:0;box-sizing:border-box}body{margin:0;min-height:100vh}.el-table__body tr.hover-row.el-table__row--striped>td,.el-table__body tr.hover-row>td{background-color:#06060680;color:#fff}
