/*# sourceMappingURL=atom.css.map */
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}

.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}

.color-fff {
  color: #fff;
}
.color-333 {
  color: #333;
}
.color-666 {
  color: #666;
}
.color-999 {
  color: #999;
}
.color-ccc {
  color: #ccc;
}

.color-f00 {
  color: #f00;
}

.bgc-fff {
  background-color: #fff;
}

.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-5p {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-0 {
  margin-left: 0px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}

.pd-5 {
  padding: 5px;
}
.pd-10 {
  padding: 10px;
}
.pd-10-15 {
  padding: 10px 15px;
}

.pt-0 {
  padding-top: 0px;
}

.pr-10 {
  padding-right: 10px;
}
.pr-15 {
  padding-right: 15px;
}

.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}

.fixed {
  position: fixed;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.no-border {
  border: none !important;
}
.no-border-bottom {
  border-bottom: none !important;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.w-full {
  width: 100%;
}
