.page_wrapper {
  height: calc(100vh - 90px);
  overflow: auto;
  padding: 10px 0px 0px 0px;
}

.desc {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}

.jiaocha_wrapper {
  margin-top: 10px;
  height: calc(100vh - 130px);
  overflow: auto;
}

.jiaocha_box {
  width: 33.3%;
  height: 100%;
  max-width: 400px;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: auto;

  .jiaocha_box_title {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;

    .btn_copy {
      height: 24px;
      line-height: 24px;
      padding: 0px 8px;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      background-color: #d315c2;
      color: #fff;
    }
  }

  .jiaocha_box_content {
    height: calc(100% - 30px);
    overflow: auto;

    .jiaocha_box_item {
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      padding: 0px 10px;

      &:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }

      .jiaocha_item_name {
        flex: 1;
        padding: 0px 5px 0px 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a{
          text-decoration: none;
        }
      }

      .jiaocha_item_del {
        height: 24px;
        line-height: 24px;
        padding: 0px 8px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        background-color: #d315c2;
        color: #fff;
      }
    }
  }
}
