* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  /* min-height: 100vh; */
}

.el-table .cell {
  padding: 0 5px !important;
}

.el-table .el-table__cell {
  padding: 2px 0;
}

.el-table .caret-wrapper {
  width: 15px;
  position: relative;
  left: -6px;
}
.el-table .el-table__cell{
  padding: 2px 0 !important;
}
.el-button {
  height: 30px;
  line-height: 30px;
  padding: 0 10px !important;
}
.el-button.is-link {
  height: 30px;
  line-height: 30px;
  padding: 2px !important;
}
.el-button+.el-button{
  margin-left: 6px;
}
.el-table .caret-wrapper {
  width: 15px;
  position: relative;
  left: -6px;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
